footer &copy; This content is copyrighted. If you use this, you will go to jail.
script(src='/javascripts/login.js', type="text/javascript")
script(src='/javascripts/register.js', type="text/javascript")
