head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Alexandru Necula, Gineanu Tudor")
    meta(name="description" content="ECAW is a graphical tool for generating e-cards.")
    meta(property="og:image" content="https://about.canva.com/wp-content/uploads/sites/3/2015/11/e-card-maker.png")
    meta(property="og:description" content="ECAW is a graphical tool for generating e-cards.")
    meta(property="og:title" content="ECAW")
    meta(name="twitter:title" content="ECAW")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome/css/all.css')
    script(src='/javascripts/index.js', type="module")
