extends ../layout

block content

    -
        // Just for testing purposes
        var toolbox = [{
            faClass: "fa fa-mouse-pointer",
            tooltip: "Move",
            id: "move" 
        },{
            faClass: "far fa-square",
            tooltip: "Square",
            id: "square" 
        },{
            faClass: "far fa-circle",
            tooltip: "Circle",
            id: "circle"
        },{
            faClass: "fas fa-plus-circle",
            tooltip: "Plus Circle",
            id: "plusCircle"
        },{
            faClass: "fas fa-archway",
            tooltip: "Archway",
            id: "archway"
        },{
            faClass: "fa fa-caret-up",
            tooltip: "Triangle",
            id: "triangle"
        }]


    include nav
    #workplace
        include toolbox
        include container
        include media_content
    include footer_bar
    include login
    include register
