extends ../layout

block content

    include nav
    #workplace
        include toolbox
        include container
        include media_content
    include footer_bar
    include login
    include register
    include projectsPanel
