#loginPanel
    form(action='javascript:void(0)',method='post')
        h2 Log In
        input(id='username',name='username',type='text',placeholder='Username')
        input(id='password',name='password',type='password',placeholder='Password')
        button(id='loginSubmit') Submit
    button(id="loginClose",class="fa fa-times")
    #result