- if (toolbox.length > 0) {
    #toolbox
        each tool in toolbox
            i.tooltip(class=tool.faClass, id=tool.id)
                span.tooltiptext= tool.tooltip
        .tooltip
            input(type='color', id='color')
            span.tooltiptext= 'Color'
- }
