body {
    padding: 0;
    margin: 0;
    height:100%;
    width: 100%;

    /* Vars */
    --navHeight: 6%;
    --footerBarHeight: 6%;
    --footerHeight: 1.25rem;
    --showMediaContentButtonSize: 4rem;
}

a {
    color: #00B7FF;
}

#root {
    height: 100vh;
    width: 100vw;
}

.error, .message {
    padding: 2% 3%;
}

.error {
    color: darkred;
}

#workplace {
    display: flex;
    height: calc(100% - var(--navHeight) - var(--footerBarHeight) - var(--footerHeight));
    width: 100%;
}
.hidden{
    display: none;
}
