#toolbox {
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
}

#toolbox i {
    font-size: 1.8rem;
    cursor: pointer;
}

.tooltip {
    margin: 0 10% 10%;
    position: relative;
    display: inline-block;
    border: none;
    transition: 0.1s ease-in-out;
}

.tooltip:hover {
    color: #979797;
}

.tooltip .tooltiptext {
    font-size: 1rem;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translateX(-50%);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext:hover {
    visibility: hidden;
}

#color {
    padding: 0;
    width: 1.8rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.selectedTool {
    color: #dddddd;
}

@media screen and (max-width: 480px) {
    #toolbox {
        width: 100%;
        height: 30%;
    }

    .tooltip {
        margin: 0 5% 5%;
    }
}
